{% include "header.njk" %}

    <section class="banner">
        <div class="banner__content container">
            <h1 class="banner__title">Learn the basics of Web design and development with @brob</h1>
            <h2 class="banner__subtitle">Follow along each week as we build out a continuing set of projects</h2>
            <a class="banner__cta button" href="https://twitch.tv/bryanlrobinson">Follow on Twitch to get live notifications</a>
            <img class="headshot" src="/assets/images/headshot.jpg" alt="@brob's smiling face">
        </div>
    </section>

    <section class="about container">
        <h3 class="about__header">If you've just started out learning how to create amazing things on the web, but aren't sure how to put everything together, let's work together. In this series of live tutorials, Bryan (or @brob, as he's known on the Twitters) will walk you through the creation of many different projects. Most will start with a blank slate and we'll take it one step at a time.</h3>
    </section>

    <section class="episodes container">

        
        
        <div class="upcoming-episodes">
        <h2>Upcoming Episodes</h2>
        {% for episode in collections.upcoming %}
            <h4><a href="{{ episode.url }}">{{ episode.data.title }}</a></h4>
            <time>{{ episode.data.airDate }}</time>
            <p>{{ episode.data.description }}</p>
            <a class="button" href="/episode-url">Get ready to watch</a>
            
        {% endfor %}
            
        </div>

        {% if collections.previous | length %}
        <div class="past-episodes">
        <h3>Previous episodes and code</h3>
            {% for episode in collections.previous %}
                <h4><a href="{{ episode.url }}">{{ episode.data.title }}</a></h4>
                <a href="{{ episode.data.codeLink }}">View the Code</a>
                <a href="{{ episode.url }}">See full details</a>
            {% endfor %}
           
        </div>
        {% endif %}
    </section>

{% include "footer.njk" %}
</body>
</html>