{% include "header.njk" %}

<section class="banner {% block bannerClass%}{% endblock %}">
    {% block banner %}{% endblock %}
</section>


<div class="container stack">
    {% block preContent %}{% endblock %}

    {% block content %}
        {{ content | safe }}
    {% endblock %}

    {% block postContent %}
    {% endblock %}
</div>
{% include "footer.njk" %}