{% include "header.njk" %}

<section class="banner banner--small">
    <div class="page-banner__content container">
        <h1 class="banner__title">{{ title }}</h1>
        <time>{{ airDate | date('MMM DD, YYYY') }}</time>
    </div>
</section>

<div class="container stack">

    {% include 'components/breakout.njk' %}

{{ content | safe }}
</div>
{% include "footer.njk" %}