<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basics with @brob - A website to help you learn the basics of simple web development</title>

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    
    <header class="page-header container">
        <a href="/" class="logo">basicsWith<span class="accent">@brob</span></a>
        <nav>
            <a href="https://twitch.tv/bryanlrobinson">Follow on Twitch</a>
            <!-- <a href="youtube">YouTube Archives</a> -->
        </nav>
    </header>
